
  .carousel-item{
    width: 100%;
    align-items: center;
    height: 1000px;
    object-fit: cover; 
  
  }


   .navnavbar-nav:hover {
      color: #00ffcc; /* Puedes cambiarlo por el color que quieras */
    }